#root {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin: 0 auto;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /*padding: 2rem;*/
  text-align: center;
}
