body:has(.calendarView-container) { 
    width: -webkit-fill-available;
    height: -webkit-fill-available; 
    background-color: var(--CWbackground);
  }

body:has(.calendarView-container).light-mode {
    --CWbackground: #9f74dc;
    --CWfgcolor: #a8fa50;
    --CWbtnbgcolor: #883ac9d2;
    --CWbtnhovercolor: #c772ff;
    --CWlistbackground: rgb(181, 90, 181);
    --CWbtnborder: #ff64ead2;
}
body:has(.calendarView-container).dark-mode {
    --CWbackground: #362353;
    --CWfgcolor: #d19aff;
    --CWbtnbgcolor: #4e008df7;
    --CWbtnhovercolor: #6e29a7f7;
    --CWlistbackground: #5e3fa7d2;
    --CWbtnborder: #5e3fa7d2;
}


.calendarView-container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    /*margin: 3%;*/
    margin-top: 5%;
    color: var(--CWfgcolor);
    
    display: flex;
}

.calendarView-leftSide {
  width: 6%;
  background: var(--CWlistbackground);
  color: var(--CWfgcolor);
  overflow: hidden;
  transition: width 0.3s ease;
  border-right: 2px solid var(--CWbtnborder);
}

/*Nyílik*/
.calendarView-leftSide:hover {
  width: 25%;
}

.leftSide-list {
  height: 100%;
  overflow-y: auto;
}

.leftSide-item {
  padding: 12px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  cursor: pointer;
}

.leftSide-item:hover {
  background: var(--CWbtnhovercolor);
}

.calendarView-rightSide {
  flex: 1;
  background: var(--CWbackground);
}
