body:has(.LoginModule) .bottom-footer
{
  visibility: collapse;
}

body:has(.profile-container) .bottom-footer
{
  visibility: collapse;
}
body:has(.bottom-footer).light-mode {
    --footerhovercolor: #00ff0dee;
    --footerbtnbackground: #80ff00;
    --footerbtnborder: #93cc56;
    --footerbackground: rgba(193, 255, 114, 1);
    --footerfgcolor: #000000;
}
body:has(.bottom-footer).dark-mode {
    --footerhovercolor: #790097ee;
    --footerbtnbackground: #410052ee;
    --footerbtnborder: #651679ee;
    --footerfgcolor: #ffffff;
    --footerbackground: #310058d2;
}
.bottom-footer link-text {
  color: var(--footerfgcolor);
  text-decoration: none;
}

.bottom-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: -webkit-fill-available;
  height: 40px;
  background: var(--footerbackground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 50;
  transition: transform 0.3s ease;
  color: var(--footerfgcolor);
}

.bottom-footer.hidden {
  transform: translateY(calc(100% - 8px));
  opacity: 0.6;
}

.bottom-footer.visible {
  transform: translateY(0);
}


.bottom-footer .footer-button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  transition: background 0.2s, transform 0.15s, box-shadow 0.15s;
}

.bottom-footer .footer-button.register {
  border: var(--footerbtnborder) 2px solid;
  background-color: var(--footerbtnbackground);
  color: hsl(0, 0%, 0%);
}

.bottom-footer .footer-button.register:hover {
  background-color: var(--footerhovercolor);
}

.bottom-footer .footer-button.login {
  border: var(--footerbtnborder) 2px solid;
  background-color: var(--footerbtnbackground);
  box-shadow: var(--shadow-1);
  color: #1e293b;
}

.bottom-footer .footer-button.login:hover {
  background-color: var(--footerhovercolor);
  transform: translateY(-4px);
  box-shadow: var(--shadow-2);
}

.bottom-footer .footer-button:hover {
  transform: translateY(-3px);
}