body:has(.front-page-container){
    background-color: #883ac9d2;
    
}
.front-page-container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
:root:has(.front-page-container){
  --shadow-1: 0 6px 18px rgba(0,0,0,0.14);
  --shadow-2: 0 12px 28px rgba(0,0,0,0.20);
  --shadow-3: 0 18px 36px rgba(0,0,0,0.25);
}


.front-page-container button a {
  color: #000000;
  text-decoration: none;
}

.front-page-container .profile-button:hover {
  background-color: #c772ff;
}


.front-page-container .app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}


.front-page-container .image-carousel {
  position: relative;
  width: 400px; 
  margin: 20px auto;
  text-align: center;
}

.front-page-container .image-carousel img {
  width: 100%;  
  height: auto;
  border-radius: 10px;
  box-shadow: var(--shadow-3);
}


.front-page-container .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
font-size: 18px;
  color: #1e293b;
  background-color: rgba(193, 255, 114, 0.7); 
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
  z-index: 10;
  padding: 8px;
  box-shadow: var(--shadow-2);
}

.front-page-container .arrow:hover {
  background-color: rgba(168, 250, 80, 0.9);
}

.front-page-container .arrow.left {
  left: 10px;
}

.front-page-container .arrow.right {
  right: 10px;
}