body:has(.profile-container).light-mode {
    --background: #6f3fb3;
    --fgcolor: #a8fa50;
    --btnbgcolor: #883ac9d2;
    --btnhovercolor: #c772ff;
    --pfpborder: purple;
    --btnborder: #5a1394d2;
    --imgUrl: url("/src/assets/logout_Light.png");
}
body:has(.profile-container).dark-mode {
    --background: #362353;
    --fgcolor: #d19aff;
    --btnbgcolor: #4e008df7;
    --btnhovercolor: #6e29a7f7;
    --pfpborder: #5e3fa7d2;
    --btnborder: #5e3fa7d2;
    --imgUrl: url("/src/assets/logout_Dark.png");
}

body:has(.profile-container)
{
    background-color: var(--background);
    color: var(--fgcolor);
    height: -webkit-fill-available;
}

.profile-container
{
    align-items: center;
    justify-items: center;
    max-width: 1280px;
    max-height: 1280px;
    display: grid;
    height: 100%;
    width: 100%;
    
    grid-template: 1fr 4fr 1fr 0.5fr/1fr 8fr 1fr;
}
.profile-container #profileIMG
{
    width: 50%;
    border-radius: 100%;
    border: var(--pfpborder) 10px solid;
}
.profile-container #Name
{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.profile-container #UName
{
    margin: 1px;
}
.profile-container .center-piece
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

    grid-row: 2/3;
    grid-column: 2/3;
    max-width: 700px;
    max-height: 700px;
}
.profile-container .button-panel
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    align-items: center;

    gap: 15px;
    grid-row: 3/4;
    grid-column: 2/3;
}
.profile-container div.button-panel a
{
    
    height: 90%;
}
.profile-container div.button-panel a:hover
{
    transform: scale(1.1);
    font-size: 30px;
}

.profile-container div.button-panel button
{
    flex: 1;
    margin: 0;
    padding: 12px 18px;
    height: 100%;
    /*max-height: 100px;*/
    width: 90%;
    border: var(--btnborder) 3px solid;

    background-color: var(--btnbgcolor);
    color: var(--fgcolor);
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.profile-container div.button-panel button link-text
{
    color: var(--fgcolor);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.profile-container #Logout-Btn
{
    flex: 0;
    max-width: 80px;
    max-height: 80px;
    aspect-ratio: 1/1;
    padding: 0;
}
.profile-container #Logout-Btn a
{
    height: 100%;
    width: 100%;
    color: var(--fgcolor);
}
.profile-container .logoutIcon
{
    width: 80%;
    height: 80%;
    padding: 10%;
    content: var(--imgUrl);
}
.profile-container div.button-panel > button:hover
{
    border: var(--btnborder) 3px solid;

    background-color: var(--btnhovercolor);
    color: var(--fgcolor);
}
.profile-container .name-notif-container
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
}

.profile-container #notification-icon
{
    aspect-ratio: 1/1;
    width: 30%;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: red;
    border-radius: 100%;
    line-height: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3/4;

    font-size: auto;
}
.profile-container .name-notif-container h2
{
    grid-column: 2/3;
}




@media (max-width: 800px) {

    .profile-container {
        grid-template: 0.2fr 5fr 8fr 0.5fr/1fr 10fr 1fr;
    }

    .profile-container #profileIMG {
        width: 35%;
        border-radius: 50%;
        border-width: 6px;
    }

    .profile-container #Name {
        font-size: 28px;
    }

    .profile-container .center-piece {
        max-width: 320px;
        margin-bottom: 6px;
    }

    .profile-container .button-panel {
        padding: 6px 20px 10px 20px;
        
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        
    }

    .profile-container div.button-panel button {
        width: 100%;
        height: auto;
        max-height: none;
        padding: 12px 16px;
    }

    .profile-container div.button-panel button a {
        font-size: 20px;
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .profile-container #Logout-Btn {
        max-width: 100px;
        max-height: 100px;
        aspect-ratio: 1/1;
        padding: 0;
        margin: 0px auto 0px auto;
    }
    .profile-container div.button-panel a 
    {
        height: auto;
    }
}